<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='example.css')}}">
    <title>Home</title>
</head>

<body data-logged-in="{{ loggedIn }}">

    <div id = "backgroundDiv">
        {% if loggedIn == 0 %}
            <div id = "textAreasDiv">
                <p class = "sectionTitle" id = "signUpTitle">Sign Up/Log In</p>
                <div class = "textAreaDiv">
                    <p id = "emailTitle">Email:</p>
                    <input class = "inputItem" id = "email"></input>
                </div>
                <div class = "textAreaDiv">
                    <p id = "passwordTitle">Password:</p>
                    <input class = "inputItem" id = "password"></input>
                </div>
                <div class = "button" id = "submitButton">
                    <p id = "submitButtonText">Submit</p>
                </div>
            </div>
        {% else %}
            <p class = "sectionTitle" id = "emailText">Loading...</p>
            <div class = "button" id = "logoutButton">
                <p id = "logoutButtonText">Logout</p>
            </div>
        {% endif %}
    </div>
    


    <script src="{{url_for('static', filename='example.js')}}"></script>
</body>